<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Navbar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href ="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/danhsachNV">Danh sách Nhân Viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/themMoiNV">Thêm mới Nhân Viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tìm Kiếm Nhân Viên</a>
            </li>
        </ul>
    </div>
</nav>

<div style="display: flex; justify-content: space-around;">
    <img src="images/ntu 1.jpeg" alt="Image 1" style="width: 400px; height: auto;">
    <img src="images/ntu 2.jpeg" alt="Image 2" style="width: 400px; height: auto;">
    <img src="images/ntu3.jpeg" alt="Image 3" style="width: 400px; height: auto;">
</div>

<div class="container mt-5">
    <div class="card">
        <img src="images/avatar.jpeg" class="card-img-top" alt="Avatar">
        <div class="card-body">
            <h5 class="card-title">Nguyễn Ngọc Anh Thư</h5>
            <p class="card-text">Lớp: 63.CNTT.CLC</p>
            <p class="card-text">Khoa: Công nghệ thông tin</p>
            <p class="card-text">Trường: Đại học Nha Trang</p>
        </div>
    </div>
</div>

<!-- Bootstrap JavaScript và jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
